*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/src/main/res/values/config.xml
gradle.properties
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew.bat

keystore.properties

keystore.properties
app/src/main/res/values/api_key.xml
